{% extends "base.html" %}

{% block heading %}{% endblock %}


{% block body %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bars</h1>
    <p class="lead">this project is about.</p>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
       nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
       Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
  </div>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1529514027228-b808875f9d37?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=17e7805efc95d05183cff2b110ea0aa1&auto=format&fit=crop&w=934&q=80=First slide" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1520880205996-43e8ed079873?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d283209d3e12c5b253d76a3c62651ee7&auto=format&fit=crop&w=934&q=80=Second slide" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1521394573970-cdcef757fddd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=93a4821afa5814178922a734d80affe3&auto=format&fit=crop&w=2246&q=80=Third slide" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


</div>
<hr>
{% endblock %}
{{ variable }}

{% block footer%}

{% endblock %}
